PORT=4000
NODE_ENV=production
FRONTEND_URL=https://tu-frontend.vercel.app

DB_URI=mongodb+srv://<usuario>:<password>@cluster0.mongodb.net/fitAppDB?retryWrites=true&w=majority

JWT_Secret_key=tu_super_secreto_aqui

USER_EMAIL=tu_correo@gmail.com
USER_PASSWORD=tu_contraseña_de_aplicacion_gmail

GEMINI_API_KEY=tu_api_key_de_gemini

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
